<div class="h-screen w-full flex flex-col items-center justify-center">
  <h1 class="text-2xl mb-3 font-semibold">Mortgage Visualizer</h1>
  <hr class="mb-3 w-full" />
  <div class="flex space-x-5">
    <div class="p-5 rounded-md border border-neutral-300 max-w-[300px]">
      <a
        mat-flat-button
        extended
        routerLink="repayment-calculator"
        class="w-full"
      >
        <mat-icon fontIcon="calculate"></mat-icon>
        Repayment Calculator
      </a>
      <hr class="my-5" />
      <p>
        Visualize how your money habits impact your ability to repay your
        mortgage.
      </p>
    </div>
    <div class="p-5 rounded-md border border-neutral-300 max-w-[300px]">
      <a
        mat-flat-button
        extended
        routerLink="savings-calculator"
        class="savings-calculator-button w-full"
      >
        <mat-icon fontIcon="account_balance"></mat-icon>
        Savings Calculator
      </a>
      <hr class="my-5" />
      <p>
        Visualize how fast you will be able to save for a downpayment for a house.
      </p>
    </div>
  </div>
</div>
